@model IEnumerable<Category>

<h1>.........Category..........</h1>
<div class="form-group">
    <a asp-controller="Categories" asp-action="Create" class="btn btn-primary">
        Create a new Category
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>

            <th scope="col">Categoory title</th>
            <th scope="col">Categoory Status</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Description</td>
                <td>@item.Status</td>
               
                
            </tr>
        }
    </tbody>
</table>
