<h1>Help</h1>

<h3>* How to buy a book?</h3>
<p>Step 1: Go to "Books" screen and choice a book.</p>
<p>Step 2: Click on "Add to cart".</p>
<p>Step 3: Go to "Cart" screen, and click on checkout</p>
<p>Order successful!</p>


<h3>* How to change information</h3>
<p>Step 1: Click on your name.</p>
<p>Step 2: Choose the information you want to change.</p>
<p>Step 3: Input necessary information to change your info</p>
<p>Step 4: Click on "save" button</p>
<p>Change information successful!</p>


