@using AssignFPTBook.ViewModels
@model IEnumerable<OrderDetail>

    <h1>...................</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>

            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.OrderId</th>
                <td>@item.Book.Title</td>
                <td>@item.Book.Price</td>
                <td>@item.Quantity</td>
               
                
                

                
            </tr>
        }
    </tbody>
</table>
