@using AssignFPTBook.Utils

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  @if (!User.Identity.IsAuthenticated)
  {
    <h1>New User ???</h1>
    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-danger">Register your account</a>

  }
  else
  {
      
    if (User.IsInRole(Role.ADMIN))
    {
        <h1 class="display-4">Welcome ADMIN </h1>
        <a asp-controller="Admin" asp-action="Users" class="btn btn-dark">Manage Users</a>
        <a asp-controller="Admin" asp-action="Stores" class="btn btn-dark">Manage Stores</a>
        <a asp-controller="ContactAdmins" asp-action="Index" class="btn btn-primary">Contact</a>
    }
    if (User.IsInRole(Role.USER))
    {
      <h1 class="display-4">Welcome USER </h1>
      <a asp-controller="" asp-action="Index" class="btn btn-primary">Go to your Cart</a>
      <a asp-controller="Customers" asp-action="Index" class="btn btn-primary">BY</a>
      <a asp-controller="" asp-action="Index" class="btn btn-primary">Go to your History Order</a>
      <a asp-controller="Customers" asp-action="Profile" class="btn btn-primary">profile</a>
    }
    if (User.IsInRole(Role.STORE))
    {
      <h1 class="display-4">Welcome STORE </h1>
      <a asp-controller="Books" asp-action="Index" class="btn btn-primary">Go to your Books Manager</a>
      <a asp-controller="" asp-action="Index" class="btn btn-primary">Go to your Customer</a>    
      <a asp-controller="ContactAdmins" asp-action="CustomerView" class="btn btn-primary">Contact</a>
    }
  }
</div>
