<h1>Admin Page</h1> 
<a asp-controller="Admin" asp-action="Users" class="btn btn-dark">Manage Users</a>
<a asp-controller="Admin" asp-action="Stores" class="btn btn-dark">Manage Stores</a>
<p>Manage Category</p>