@using AssignFPTBook.ViewModels

@model ResetPasswordViewModel

<h2>Reset password</h2>

<div class="form-group">
  <a asp-controller="Admin" asp-action="Index" class="btn btn-primary">
    Back to Index
  </a>
</div>

<form asp-controller="Admin" asp-action="ResetPassword" method="post">
  <div class="form-group">
    <label>New password</label>
    <input asp-for="@Model.NewPassword" class="form-control" placeholder="New password ..." />
  </div>
  <div class="form-group">
    <label>Confirm new password</label>
    <input asp-for="@Model.ConfirmPassword" class="form-control" placeholder="Confirm new password ..." />
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Reset</button>
  </div>
</form>